<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  You can get intouch with us at bubbleforum@gmail.com
  <a href="https://www.railstutorial.org/contact">contact page</a>.
</p>
<%= link_to image_tag("Dogull.jpg", alt: "dogull", width: "200px")%> 