<footer class="footer">
  <small>
    The <a href="www.bubbleverse.org">Bubbleverse</a> by George Freeman
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Log In", signup_path%></li>
    </ul>
  </nav>
</footer>